<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title id="title">Albums to Listen 💿</title>
    <script src="../js/environment.js"></script>
    <script src="../js/albums-to-listen.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="main albums-page" id="main">
      <h1>Albums to Listen 💿</h1>
      <div id="feedback" class="feedback hidden"></div>
      <div class="albums-grid" id="albums-grid"></div>
    </div>
  </body>
</html>
