<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/books-list.js" charset="UTF-8"></script>
    <title>Books List</title>
    <style>
      table {
        border-collapse: collapse;
        width: 80%;
        margin: 20px auto;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
      }
    </style>
  </head>
  <body>
    <h1>Books List</h1>
    <div id="feedback" class="feedback hidden"></div>
    <div id="bookContextMenu" class="context-menu">
      <!-- <div class="context-menu-item" id="editAction">Edit</div> -->
      <!-- <div class="context-menu-item" id="deleteAction">Delete</div> -->
      <!-- <div class="context-menu-item" id="changeCategoryAction">Change Category</div> -->
      <div class="context-menu-item" id="copyToTodoAction">Copy to Todo</div>
    </div>

    <section>
      <h1>Add Book to Shelves 📗</h1>

      <form id="addBookToShelfForm" class="default-form">
        <label for="bookSearch">Search Book:</label>
        <input
          type="text"
          id="bookSearch"
          name="query"
          placeholder="Start typing to search for a book"
        />
        <ul id="bookSuggestions" class="suggestion-list"></ul>

        <label for="isbn13">ISBN-13:</label>
        <input type="text" id="isbn13" name="isbn13" required />

        <label for="shelfName">Select Main Shelf:</label>
        <select id="shelfName" name="shelfName" required>
          <option value="currently-reading">Currently Reading</option>
          <option value="to-read">To Read</option>
          <option value="read">Read</option>
        </select>

        <label for="additionalShelves">Additional Shelves:</label>
        <select id="additionalShelves" name="additionalShelves" multiple></select>

        <label for="position">Position:</label>
        <input
          type="number"
          id="position"
          name="position"
          placeholder="Position on shelf"
          min="1"
        />

        <button type="submit">Add to Shelf</button>
      </form>
    </section>

    <section>
      <h1>Add Book 📕</h1>
      <form id="newBookForm" class="default-form">
        <input type="text" id="title" name="title" placeholder="Title" required /><br />
        <input type="text" id="author" name="author" placeholder="Author" required /><br />
        <input type="text" id="isbn13" name="isbn13" placeholder="ISBN-13" /><br />
        <input type="text" id="publisher" name="publisher" placeholder="Publisher" /><br />
        <input
          type="number"
          id="yearPublished"
          name="yearPublished"
          placeholder="Year Published"
        /><br />
        <input
          type="number"
          id="originalPublicationYear"
          name="originalPublicationYear"
          placeholder="Original Publication Year"
        /><br />
        <input
          type="number"
          id="numberOfPages"
          name="numberOfPages"
          placeholder="Number of Pages"
        /><br />
        <input
          type="text"
          id="listeningTime"
          name="listeningTime"
          placeholder="Listening Time (e.g., PT5H30M)"
          pattern="PT\\d+H\\d{1,2}M?"
        /><br />
        <button type="submit">Submit</button>
      </form>
    </section>

    <h3>Currently Reading 👓</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Rating</th>
          <th>Date Read</th>
          <th>Read Count</th>
        </tr>
      </thead>
      <tbody id="read-books-table"></tbody>
    </table>

    <h3>Want To Read👓</h3>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Rating</th>
          <th>Date Read</th>
          <th>Read Count</th>
        </tr>
      </thead>
      <tbody id="want-to-read-books-table"></tbody>
    </table>
  </body>
</html>
