<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/bucket.js" charset="UTF-8"></script>
    <title>Idea Bucket</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
        }
    </style>
</head>
<body>
    <h1>Idea Bucket</h1>
    <div id="feedback" class="feedback hidden"></div>
    <section>
      <h1>Create Idea 💡</h1>
      <form id="ideaForm" class="default-form">
        <input type="text" id="idea" name="idea" placeholder="Idea" required><br>
        <input type ="text" id="category" name="category" placeholder="Category" required/>
        <textarea id="notes" name="notes" placeholder="Notes"></textarea><br>
        <button type="submit">Submit</button>
      </form>
    </section>
    <div id="ideaContextMenu" class="context-menu">
      <div class="context-menu-item" id="editAction">Edit</div>
      <div class="context-menu-item" id="deleteAction">Delete</div>
      <div class="context-menu-item" id="changeCategoryAction">Change Category</div>
      <div class="context-menu-item" id="copyToTodoAction">Copy to Todo</div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Idea</th>
                <th>Category</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody id="idea-bucket-table">
        </tbody>
    </table>
</body>
</html>
