<!DOCTYPE html>
<html>
  <head>
    <title id="title">New Tab</title>
    <script type="text/javascript" src="../js/moment-with-locales.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/moment.min.js" charset="UTF-8"></script>
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/javascript.js" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="tracking-container">
      <div id="timer" class="timer-container">
        <span id="timer-text" class="timer-text">
          <span>
            <form id="task-form" class="task-form">
                <input name="task" id="task-input" placeholder="Track task"/>
                <input name="category" id="task-category-input" placeholder="Category"/>
                <input name="project" id="project-input" placeholder="Project"/>
              </span>
            </form>
          </span>

          <span id="task-name"></span>
          <span id="timer-values">
            <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
          </span>
        </span>
        <button id="task-button" class="play">
          <div id="task-button-icon" class="icon stopped">■</div>
        </button>
      </div>
      <ul>
       <li><a id="time-tracking-summary-link"></a></li>
       <li><a id="ratings-link"></a></li>
       <li><a id="idea-bucket-link"></a></li>
       <li><a id="review-link"></a></li>
       <li><a id="reading-list-link"></a></li>
      </ul>
    </div>
    <div class="main" id="main">

      <h4 id="quote" class="quote"></h4>
      <h6 id="author" class"author"></h6>

      <div class="grid" id="grid-container"></div>
      <h5 id="totalMonthSpend"></h5>

      <h5 id="note">Leonardo da Vinci 3rd November</br>Charles Darwin 17th November</h5>
      <h5 id="deathCountdown"></h5> 

      <div class="todo-container">
        <div id="contextMenu" class="context-menu">
          <div class="context-menu-item" id="editAction">Edit</div>
          <div class="context-menu-item" id="deleteAction">Delete</div>
          <div class="context-menu-item" id="moveNextAction">Move to Next Category</div>
          <div class="context-menu-item" id="changeCategoryAction">Change Category</div>
        </div>

        <div class="todos-header-container">
          <div class="left">
            <div>
              <h2>TODOS</h2>
            </div>
          </div>
          <div class="right">
            <div>
              <select name="category" id="category-input" class="categories" value="main" style="display:none;">
              </select>
            </div>
          </div>
        </div>
        
        <form id="todo-form" class="todo-form">
          <div contenteditable="true" id="todo-input" class="todo-input" data-placeholder="Create todo"></div>
          <input type="submit" hidden />
        </form>

        <ul id="todos" class="todos">

        </ul>
      </div>
    </div>
  </body>
</html>
