<!doctype html>
<html>
  <head>
    <title id="title">Login</title>
    <script type="text/javascript" src="../js/moment-with-locales.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/moment.min.js" charset="UTF-8"></script>
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/login.js" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <div class="main">
      <div id="feedback" class="feedback hidden"></div>
      <section>
        <form id="loginForm" class="default-form">
          <input name="name" id="name" placeholder="What Should I Call You?" />
          <input name="email" id="email" placeholder="Email" type="email" required />
          <button id="loginButton" type="submit">Login</button>
          <button id="registerButton" type="submit">Register</button>
        </form>
      </section>
    </div>
  </body>
</html>
