<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>Save Meme</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <form id="memeTagsForm" class="default-form">
      <img id="memePreview" class="meme-tags-preview" src="" alt="Meme to save" />
      <label for="tags">Tags (comma separated):</label>
      <input type="text" id="tags" name="tags" autocomplete="off" autofocus />
      <button type="submit">Save</button>
    </form>
    <script src="../js/environment.js"></script>
    <script src="../js/meme-tags-popup.js"></script>
  </body>
</html>
