<!DOCTYPE html>
<html>
  <head>
    <title id="title">Memes 🤣</title>
    <script type="text/javascript" src="../js/moment-with-locales.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/moment.min.js" charset="UTF-8"></script>
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/memes.js" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
  </head>
<body>

<div class="main" id="main">
  <h1>Memes 🤣</h1>
  <div id="feedback" class="feedback hidden"></div>
  <section>
    <div id="fileContextMenu" class="context-menu">
      <div class="context-menu-item" id="deleteAction">Delete File</div>
    </div>
  </section>
  <section>
    <div class="episodes" id="files"></div>
    <div id="pagination" class="default-form">
        <button id="prevPage" disabled>Previous</button>
        <button id="nextPage">Next</button>
    </div>
  </section>
</div>

</body>
</html>
