<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note</title>
	<script src="../js/environment.js" charset="UTF-8"></script>
  <script type="text/javascript" src="../js/note.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
  <style>
    #editor {
			width: 99%;
      height: 400px;
			background: transparent;
			color: #8d8271;
    }
  </style>
</head>
<body>

<div class="main">
	<h1>Note</h1>

	<textarea id="editor"></textarea>

</div>
</body>
</html>

