<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/ratings.js" charset="UTF-8"></script>
    <script src="../js/chart.js" charset="UTF-8"></script>
    <title>Review</title>
</head>
<body>
    <h1>Review</h1>
    <div class="chart-container">
      <canvas id="ratingsChart" width="400" height="200"></canvas>
    </div>

    <form id="ratingForm">
        <div class="rating-group">
            <input type="radio" id="rating-1" name="rating" value="1">
            <label for="rating-1">1</label>

            <input type="radio" id="rating-2" name="rating" value="2">
            <label for="rating-2">2</label>

            <input type="radio" id="rating-3" name="rating" value="3">
            <label for="rating-3">3</label>

            <input type="radio" id="rating-4" name="rating" value="4">
            <label for="rating-4">4</label>

            <input type="radio" id="rating-5" name="rating" value="5">
            <label for="rating-5">5</label>
        </div>

        <textarea name="notes" placeholder="Enter your notes"></textarea>
        <button type="submit">Submit</button>
    </form>



</body>
</html>
