<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/mood-ratings-chart.js" charset="UTF-8"></script>
    <script src="../js/time-tracking-summary.js" charset="UTF-8"></script>
    <script src="../js/review.js" charset="UTF-8"></script>
    <script src="../js/chart.js" charset="UTF-8"></script>
    <title>Review</title>
  </head>
  <body>
    <div id="review-container">
      <h1 id="review-page-title">Review</h1>
      <a id="previous-review-link">Last Week's Review</a>
      <div id="feedback" class="feedback hidden"></div>
      <div class="chart-container">
        <canvas id="ratingsChart" width="400" height="200"></canvas>
      </div>
      <div id="ratings-table-container"></div>
      <div id="diary-table-container"></div>
      <div id="well-container">
        <h2>Things that are going well</h2>
        <ul id="well-list"></ul>
      </div>
      <br />
      <div id="todoReview"></div>
    </div>
  </body>
</html>
