<!doctype html>
<html>
  <head>
    <title id="title">Settings</title>
    <script type="text/javascript" src="../js/moment-with-locales.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/moment.min.js" charset="UTF-8"></script>
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/settings.js" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <div id="feedback" class="feedback hidden"></div>
    <section>
      <form id="settingsForm" class="default-form">
        <h2>Preferences and Settings</h2>
        <input name="name" id="name" placeholder="What Should I Call You?" />

        <section id="favouriteCategories">
          <h2>Select Your Favourite Categories (Up to 3)</h2>
          <div id="categoriesContainer"></div>
        </section>

        <div id="tagColourPairs">
          <section id="configuredTagColourPairs">
            <h2>Configured Tag Colours</h2>
            <div class="tag-pair"></div>
          </section>
          <section id="unconfiguredTagColourPairs">
            <h2>Unconfigured Tag Colours</h2>
            <div class="tag-pair"></div>
          </section>
        </div>

        <button type="button" id="addTagPairButton">Add Tag</button>
        <button id="saveButton" type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
