<!DOCTYPE html>
<html>
  <head>
    <title id="title">Settings</title>
    <script type="text/javascript" src="../js/moment-with-locales.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/moment.min.js" charset="UTF-8"></script>
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/settings.js" charset="UTF-8"></script>
    <script src="../js/jquery-3.5.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <form id="settingsForm" class="default-form">
      <input name="name" id="name" placeholder="What Should I Call You?"></input>
      <button id="saveButton" type="submit">Submit</button>
    </form>
  </body>
</html>
