<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/time-tracking-summary.js" charset="UTF-8"></script>
    <script src="../js/summary.js" charset="UTF-8"></script>
    <title>Time Tracking Summary</title>
</head>
<body>
    <h1>Time Tracking Summary</h1>

    <div id="summaryContainerDiv"></div>
</body>
</html>
