<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="../js/environment.js" charset="UTF-8"></script>
    <script src="../js/mood-ratings-chart.js" charset="UTF-8"></script>
    <script src="../js/time-tracking-summary.js" charset="UTF-8"></script>
    <script src="../js/year-mood.js" charset="UTF-8"></script>
    <script src="../js/chart.js" charset="UTF-8"></script>
    <title>Year of Mood 😀</title>
  </head>
  <body>
    <div id="review-container">
      <h1 id="review-page-title">Year of Mood 😀</h1>
      <div id="year-navigator" class="year-nav default-form">
        <button id="prev-year">&lt;</button>
        <span><h2 id="current-year"></h2></span>
        <button id="next-year">&gt;</button>
      </div>
      <div id="feedback" class="feedback hidden"></div>
      <div class="chart-container">
        <canvas id="ratingsChart" width="400" height="200"></canvas>
      </div>
      <div id="mood-grid-container"></div>
      <div id="ratings-table-container"></div>
      <div id="well-container">
        <h2>Things that are going well</h2>
        <ul id="well-list"></ul>
      </div>
      <br />
      <div id="todoReview"></div>
    </div>
  </body>
</html>
