/* 
 * Grey = #2C2C2C
 * Dark Grey = #272725
 * Mustard Yellow = #e7b91b
 * Highlighted Todo not Due #f0f0f0
 * Font colours 
 * Orangy Grey = #8d8271
*/

/* background-color: #131313; */

:root {
  --background-color: #272725;
  --text-color: #8d8271;
  --link-color: #8d8271;
  --link-hover-color: #f0f0f0;
  --highlighted-todo-color: #f0f0f0;
  --bright-red-color: #f40303;
  --bright-green-color: #03f403;
  --font-family: 'Helvetica Neue', sans-serif;
  --main-color: #e7b91b;
  --darker-main-color: #d1a116;
  --dark-grey: #2c2c2c;
  --light-grey: #868680;
}

html {
  height: 100%;
}


body {
  background-color: var(--background-color);
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
}

a { 
	color: var(--link-color); 
  text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.main {
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { 
	color: var(--text-color); 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

h4 { 
	font-size: 4em;
}		

h5 {
  font-size: 2em;
}

h6 {
  font-size: 2em;
  font-weight: lighter;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

/* FEEDBACK */

.feedback {
  margin: 5px auto;
  width: fit-content;
  font-size: larger;
  color: white;
  padding: 8px 30px;
  border-radius: 7px;
}

.success {
  background: var(--bright-green-color);
}

.failure {
  background: var(--bright-red-color);
}

/* END FEEDBACK */

.todos {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.countInput {
  background: none;
	color: var(--text-color); 
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  margin: 0 0px 0px 10px;
	font-family: var(--font-family); 
  -moz-appearance: textfield;

}

.countInput
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}

.todos li {
  padding: 10px 0px;
  border-bottom: 1px solid var(--light-grey);
  overflow-wrap: break-word;
}

.categories {
  height: 50px;
  background: none;
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
  border: none;
}

.todo-container {
  width: 93%;
  text-align: left;

}

.todo-form input {
  height: 50px;
  width: 100%;
  background: none;
  font-size: 1.5em;
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
  border: none;
}

.todo-form input:focus {
  height: 50px;
  background: none;
  font-size: 1.5em;
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
  border: none;
}

div.todo-input {
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  background: none;
  font-size: 1.5em;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0;
  line-height: 25px; 
  resize: none;
}

div.todo-input:empty:before {
  content: attr(data-placeholder);
  color: #757575;
}

div.todo-input:focus {
  height: 50px;
  background: none;
  font-size: 1.5em;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: bold;
  border: none;
  outline: none;  // Removes the default browser focus outline
}


.todo-item:hover {
  text-decoration: underline;
}

.todo-item {
  display: flex;
  position: relative;  /* Setting position relative so that the absolute positioned child (dueDateElement) is relative to this item */
  overflow: hidden;
}

.content {
  transition: transform 0.3s;
  background-color: var(--background-color);  /* This ensures that .content is solid and covers the .delete div */
  flex-grow: 1; 
  z-index: 2;  /* Ensures that the content div is above the delete div */
}

.slide-category {
  padding: 10px;
  width: 100px;
  text-align: center;
  position: absolute;  /* Absolutely position the category div */
  left: 0;            /* Align it to the left */
  top: 0;
  bottom: 0;
  z-index: 1;  /* Lower z-index than the content div, similar to delete div */
  background-color: #someColor;  /* Set to whatever background color you prefer */
}


.slide-delete {
  padding: 10px;
  width: 100px;
  text-align: center;
  position: absolute;  /* Absolutely position the delete div */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;  /* Lower z-index than the content div */
}

.due-date-box {
  position: absolute; 
  top: 50%;           
  transform: translateY(-50%);
  right: 10px;        
  background-color: var(--link-hover-color);
  padding: 5px;      
  border-radius: 3px;
}

.highlighted-due {
  color: var(--background-color);
  background-color: var(--main-color);
}

.highlighted-red {
  color: var(--background-color);
  background-color: var(--bright-red-color);
}

.todos-header-container { 
    display: flex;
    justify-content: space-between;
} 

.left { 
} 
.right { 
}


.grid {
  width: 362px;
  margin: 0 auto;
	display: none;
	grid-template-columns: repeat(52, 5px);
	grid-template-rows: repeat(81, 5px);
	gap: 2px;
}

.square {
	width: 5px;
	height: 5px;
	background-color: #ccc;
}

/* Timer ---------------------------- */

.tracking-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

#time-tracking-summary-link {
  align-self: flex-start;
}

#task-button {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--text-color);
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25px;
  height: 25px;
  font-size: 1.4em;
  color: var(--background-color);
  line-height: 22px;
}

.icon.stopped {
  line-height: 29px;
  font-size: 1.0em;
  margin-left: 2px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer-text {
  display: flex;
  align-items: center;
}

#timer-values {
  display: inline-block;
  margin-left: 10px;
}

.task-form input {
  height: 50px;
  background: none;
  font-size: 1.5em;
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
  border: none;
}

.task-form input:focus {
  height: 50px;
  background: none;
  font-size: 1.5em;
	color: var(--text-color); 
	font-family: var(--font-family); 
	font-weight: bold; 
  border: none;
}

/* End Timer ----------------------- */


/* Time tracking summary table --------- */
.time-tracking-summary {
    /* Add your table styles here */
    width: 100%;
    border-collapse: collapse;
}

.time-tracking-summary th {
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    text-align: left;
}

.time-tracking-summary td {
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}
/* End Time tracking summary table --------- */

/* Ratings and reviews ------------------ */

#ratingForm {
    background-color: var(--dark-grey);  /* Grey */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
}

#ratingForm textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: none;
    background-color: var(--background-color);  /* Dark Grey */
    color: var(--text-color);  /* Orangy Grey */
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    box-sizing: border-box;  /* Ensures padding is included in width */
}

#ratingForm textarea:focus {
    outline: none;
    border: 2px solid var(--main-color); /* Mustard Yellow */
}

#ratingForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);  /* Mustard Yellow */
    border: none;
    color: var(--background-color);  /* Dark Grey */
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

#ratingForm button:hover {
    background-color: var(--darker-main-color);  /* A darker shade of Mustard Yellow */
}

.chart-container {
  max-width: 800px;
  margin: 0 auto;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rating-group input[type="radio"] {
    display: none;
}

.rating-group label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--background-color);  /* Dark Grey */
    color: var(--text-color);  /* Orangy Grey */
    border: 2px solid var(--text-color);  /* Orangy Grey */
    border-radius: 50%;  /* Makes it circular */
    text-align: center;
    line-height: 30px;  /* Vertically center the text */
    cursor: pointer;
    transition: background-color 0.2s;
}

.rating-group label:hover {
    background-color: var(--text-color);  /* Orangy Grey */
    color: var(--background-color);  /* Dark Grey */
}

.rating-group input[type="radio"]:checked + label {
    background-color: var(--main-color);  /* Mustard Yellow */
    color: var(--background-color);  /* Dark Grey */
    border: 2px solid var(--main-color);  /* Mustard Yellow */
}

#review-container {
  margin: 10px auto;
  width: 800px;

}

#reviewForm {
    background-color: var(--dark-grey);  /* Grey */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

#reviewForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);  /* Mustard Yellow */
    border: none;
    color: var(--background-color);  /* Dark Grey */
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

#reviewForm input {
    padding: 10px;
    border: none;
    background-color: var(--background-color);  /* Dark Grey */
    color: var(--text-color);  /* Orangy Grey */
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    box-sizing: border-box;  /* Ensures padding is included in width */
}

#reviewForm textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: none;
    background-color: var(--background-color);  /* Dark Grey */
    color: var(--text-color);  /* Orangy Grey */
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    box-sizing: border-box;  /* Ensures padding is included in width */
}

#reviewForm label {
    display: block;
    margin-top: 20px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#reviewForm input[type="text"],
#reviewForm input[type="email"],
#reviewForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
}

#reviewForm input[type="text"]:focus,
#reviewForm input[type="email"]:focus,
#reviewForm input[type="number"]:focus,
#reviewForm textarea:focus {
    outline: none;
    border: 2px solid var(--main-color); /* Mustard Yellow */
}

.review-category {
    display: inline-block;
    padding: 2px 8px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #e0e0e0; /* Default color */
}

.review-category[data-category="Week 38"] {
    background-color: #3498db; /* Blue for Week 38 */
    color: white;
}



/* End Ratings and reviews ------------------ */



.default-form {
    background-color: var(--dark-grey);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
}

.default-form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    box-sizing: border-box;  /* Ensures padding is included in width */
}

.default-form input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--background-color);  /* Dark Grey */
    color: var(--text-color);  /* Orangy Grey */
    font-family: var(--font-family);
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
    resize: vertical;
    box-sizing: border-box;  /* Ensures padding is included in width */
}

.default-form textarea:focus {
    outline: none;
    border: 2px solid var(--main-color); /* Mustard Yellow */
}

.default-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);  /* Mustard Yellow */
    border: none;
    color: var(--background-color);  /* Dark Grey */
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

.default-form button:hover {
    background-color: var(--darker-main-color);  /* A darker shade of Mustard Yellow */
}

/* TODOs */
.context-menu {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: var(--dark-grey);
  border: 1px solid var(--light-grey);
}

.context-menu-item {
  padding: 10px;
  cursor: pointer;
}

.context-menu-item:hover {
  background: var(--background-color);
}

