html {
  height: 100%;
}

/* 
 * Grey = #2C2C2C
 * Dark Grey = #272725
 * Mustard Yellow = #e7b91b
 * Font colours 
 * Orangy Grey = #8d8271
*/

body {
  background-color: #272725;
	color: #8d8271; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
}

.main {
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { 
	color: #8d8271; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
}

h4 { 
	font-size: 4em;
}		

h5 {
  margin-top: 60px;
  font-size: 2em;
}

h6 {
  font-size: 2em;
  font-weight: lighter;
}

ul {
  list-style: none;
}

.todos {
  text-align: left;
  font-size: 2.5em;
}

.todo-form input {
  height: 50px;
  width: 93%;
  background: none;
  font-size: 2.5em;
	color: #8d8271; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
  border: none;
}

.todo-item:hover {
  text-decoration: underline;
}
